<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Place A New Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/ongoing"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onMoreInfo()">
        <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div
      class="inp-item"
      (click)="clickHandler(0)"
      [ngClass]="{passed: formStep > 0}"
    >
      <div class="icon">
        <ion-icon
          name="compass-outline"
          slot="icon-only"
          size="large"
        ></ion-icon>
      </div>
      <div class="desc">
        <h3 class="title">Add Pickup Place</h3>
        <p>This should be the place where your delivery is found.</p>
      </div>
    </div>

    <div
      class="inp-item"
      (click)="clickHandler(1)"
      [ngClass]="{blocked: formStep < 1, passed: formStep > 1}"
    >
      <div class="icon">
        <ion-icon name="pin" slot="icon-only" size="large"></ion-icon>
      </div>
      <div class="desc">
        <h3 class="title">Add Drop Place</h3>
        <p>This should be the place where your delivery is handed to you.</p>
      </div>
    </div>

    <div
      class="inp-item"
      (click)="clickHandler(2)"
      [ngClass]="{blocked: formStep < 2}"
    >
      <div class="icon">
        <ion-icon name="list" slot="icon-only" size="large"></ion-icon>
      </div>
      <div class="desc">
        <h3 class="title">Add Delivery Description</h3>
        <p>
          Outline the things to get you from the pickup place. Make sure to
          describe clearly, listing out items, the number of items to get and
          the average price for a single item.
        </p>
      </div>
    </div>
  </form>
</ion-content>
