<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Log in to your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="screen">
    <h2>Enter Your Phone No.</h2>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="num-input"
      [ngClass]="{focused: isFocused}"
    >
      <div class="country-code">+251-9</div>
      <ion-input
        formControlName="phone"
        placeholder="XXXXXXXX"
        (keypress)="onKeyPress($event)"
        (ionFocus)="isFocused = true"
        (ionBlur)="isFocused = false"
      ></ion-input>

      <ion-button
        expand="full"
        fill="solid"
        color="primary"
        type="submit"
        [disabled]="!form.valid"
        [ngClass]="{open: form.valid}"
      >
        <ion-icon name="checkmark-sharp" slot="icon-only"></ion-icon>
      </ion-button>
    </form>

    <p>
      A verification code will be sent if we find an account associated with
      <b>your phone number</b>. This is essetial to make sure if its really you.
      <b>please make sure to enter the right number.</b>
    </p>
  </div>
</ion-content>
