<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" color="primary" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="loadingBg">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <p *ngIf="!isLoading && isCheckout" class="top">
    By adding location you are accepting the <br />
    <span class="link"> terms and conditions </span>
  </p>

  <div class="map" #map></div>
</ion-content>
