.form-item {
  // background-color: #ddd;
  // height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p.err {
    font-size: 14px;
    margin: 7px 0;
    color: var(--ion-color-danger, #eb445a);
  }
}

p.note {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.3;
  color: var(--ion-color-step-600, #60646b);

  b {
    font-weight: 500;
    color: var(--ion-text-color, #000000);
  }
}

ion-grid {
  margin-top: 50px;
}

@media (max-width: 390px) {
  .form-item {
    p.err {
      font-size: 12px;
      margin: 5px 0;
    }
  }

  p.note {
    padding: 0 25px;
    line-height: 1.2;
  }
}
