.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 160px;

  .num-input {
    display: flex;
    // justify-content: center;
    align-items: center;
    border: 1px solid var(--ion-color-primary, #808080);
    border-radius: 6px;
    overflow: hidden;
    font-size: 22px;
    height: 55px;
    margin: 0 10px;

    width: max-content;
    max-width: 280px;
    // max-width: 405px;

    &.focused {
      box-shadow: inset 0 0 4px var(--ion-color-primary, #808080);
    }

    .country-code {
      background: linear-gradient(
        180deg,
        rgba(0, 128, 0, 0.4) 0%,
        rgba(0, 128, 0, 0.4) 33%,
        rgba(255, 255, 0, 0.4) 33%,
        rgba(255, 255, 0, 0.4) 66%,
        rgba(255, 0, 0, 0.4) 66%,
        rgba(255, 0, 0, 0.4) 100%
      );
      width: 84px;
      height: 100%;
      // padding: 0 7px;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }

    ion-input {
      padding: 10px 5px;
      height: 100%;
      outline: none;
      border: none;
      background: none;
      letter-spacing: 1px;

      // min-width: 0px;
      width: calc(100% - 84px - 55px);
    }

    ion-button {
      // background-color: #808080;
      height: 100%;
      margin: 0;
      width: 55px;
      transform: translateY(calc(-100% - 3px));
      transition: transform 0.3s ease;

      &.open {
        transform: translateY(0);
      }
    }
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.3;
    color: var(--ion-color-step-600, #60646b);

    b {
      font-weight: 500;
      color: var(--ion-text-color, #000000);
    }
  }
}

@media (max-width: 390px) {
  .screen {
    h2 {
      font-size: 20px;
    }
    .num-input {
      border-radius: 6px;
      font-size: 18px;
      height: 45px;
      min-height: 45px;
      margin: 0 10px;

      max-width: 245px;

      .country-code {
        width: 75px;
      }

      ion-input {
        width: calc(100% - 75px - 47px);
      }

      ion-button {
        width: 47px;
      }
    }

    p {
      padding: 0 30px;
      font-size: 13px;
      line-height: 1.2;
    }
  }
}
