ion-menu {
  ion-toolbar {
    --min-height: 160px;
    position: relative;
    --background: linear-gradient(
      120deg,
      var(--ion-color-secondary, #4b8b58),
      var(--ion-color-primary, #77c382)
    );
    // could also set an image as a bg

    ion-title {
      font-size: 44px;
      position: absolute;
      bottom: 10px;
      left: auto;
      right: auto;
      color: var(--ion-text-color, #fff);
    }
  }
}

ion-footer {
  --background: none;

  ion-text {
    font-size: 14px;

    span.brand {
      color: var(--ion-color-primary, #77c382);
      font-weight: 600;
    }
  }
}
