ion-header {
  ion-toolbar {
    --background: #f7f7f7;

    ion-back-button {
      color: #333;
    }

    ion-title {
      font-weight: bold;
      font-size: 25px;
    }
  }
}

ion-content {
  --background: #f7f7f7;

  ion-spinner {
    display: block;
    width: 28px;
    margin: 30px auto 0;
  }
  .blank-msg {
    font-size: 22px;
    text-align: center;
    margin: 30px auto;
    width: fit-content;
    padding: 0 20px;
    max-width: 540px;
    color: #868080;
  }

  .item {
    height: 140px;
    width: 100%;
    max-width: 540px;
    // background-color: rgb(179, 117, 117);
    margin: 0 auto 8px;
    display: flex;
    padding: 0 15px;

    .pic {
      min-width: 150px;
      width: 140px;
      background-color: #868080;
      border-radius: 8px;
      overflow: hidden;

      ion-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .info {
      // flex: 1;
      // background-color: rgb(192, 236, 87);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 8px;
      font-weight: bold;

      max-width: calc(100% - 140px);
      width: calc(100% - 140px);

      // Limit to 25 chars
      .n {
        font-size: 22px;
        margin: 0 0 8px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .r {
        font-size: 18px;
        font-weight: normal;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .o {
        display: flex;
        justify-content: space-between;
        margin: 8px 0 0;

        .p {
          font-size: 22px;
        }
        .ctrls {
          height: 100%;
          min-width: 100px;
          display: flex;
          align-items: center;

          .b {
            position: relative;
            background-color: #77c382;
            width: 28px;
            height: 28px;
            margin: auto 2px;
            font-size: 19px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f7f7f7;

            &.ion-activatable {
              cursor: pointer;
            }

            &.remover {
              background-color: #e93737;
            }
          }
        }
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    .wrapper {
      background-color: #ddd;
      height: 100px;
      width: calc(100% - 10px);
      max-width: 540px;
      margin: 0 auto;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      overflow: hidden;

      .t {
        height: 25px;
        width: calc(100% - 100px);
        font-size: 21px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 6px auto;
        color: #868080;
      }

      .btn {
        width: calc(100% - 70px);
        height: 53px;
        margin: 0 auto;
        font-size: 20px;
        color: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 10px;
        --border-radius: 10px;
        --background: #77c382;
        // cursor: pointer;
      }
    }
  }
}

@media (max-width: 390px) {
  ion-header {
    ion-toolbar {
      ion-title {
        font-size: 22px;
      }
    }
  }
  ion-content {
    .blank-msg {
      font-size: 20px;
    }

    .item {
      height: 110px;
      padding: 0 8px;

      .pic {
        min-width: 110px;
        width: 110px;
      }

      .info {
        padding: 0 0 0 6px;

        max-width: calc(100% - 125px);
        width: calc(100% - 125px);

        .n {
          font-size: 20px;
        }

        .r {
          font-size: 17px;
        }

        .o {
          .p {
            font-size: 20px;
          }
          .ctrls {
            max-height: 26px;
            min-width: 90px;
            max-width: 90px;

            .b {
              width: 26px;
              height: 26px;
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  ion-footer {
    ion-toolbar {
      .wrapper {
        height: 90px;

        .t {
          height: 22px;
          width: calc(100% - 85px);
          font-size: 19px;
          margin: 5px auto;
        }

        .btn {
          width: calc(100% - 80px);
          height: 43px;
          font-size: 17px;
        }
      }
    }
  }
}
