<ion-content class="ion-fullscreen">
  <ion-back-button defaultHref="/home"> </ion-back-button>
  <div class="img-box">
    <ion-img src="/assets/B1.jpg"></ion-img>
  </div>
  <div class="meta">
    <div class="info">
      <ion-text class="name">Beef Burger</ion-text>
      <ion-text class="price">$11.99</ion-text>
    </div>
    <div class="ctrls">
      <div class="b">-</div>
      <div class="b">99</div>
      <div class="b">+</div>
    </div>
  </div>
  <div class="desc">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis eos quas
    earum impedit ea possimus officiis, est fugit rerum dolores. Handle the
    overflow of text here.
  </div>
  <div class="list">
    <div class="item">
      <div class="logo">
        <ion-img src="/assets/B1.jpg"></ion-img>
      </div>
      <div class="name">Tinbit Jucie</div>
    </div>
    <div class="item selected">
      <div class="logo">
        <ion-img src="/assets/B1.jpg"></ion-img>
      </div>
      <div class="name">Rome 1990 Piazza</div>
    </div>
    <div class="item">
      <div class="logo">
        <ion-img src="/assets/B1.jpg"></ion-img>
      </div>
      <div class="name">Tasso Italian Restaurant</div>
    </div>
    <div class="item">
      <div class="logo">
        <ion-img src="/assets/B1.jpg"></ion-img>
      </div>
      <div class="name">Rome 1990 Turufat</div>
    </div>
    <div class="item">
      <div class="logo">
        <ion-img src="/assets/B1.jpg"></ion-img>
      </div>
      <div class="name">Tasso Italian Restaurantd</div>
    </div>

    <div class="spice"></div>
  </div>

  <div class="btn">ADD TO CART</div>
</ion-content>
