<ion-content class="ion-fullscreen">
  <ion-back-button defaultHref="/home"> </ion-back-button>

  <div class="img-box">
    <!-- Skeletons for image -->
    <ion-skeleton-text *ngIf="isLoading" animated></ion-skeleton-text>
    <ion-img
      *ngIf="!isLoading"
      (ionImgDidLoad)="handleImgLoad($event)"
      src="{{ food.imgAddr }}"
    ></ion-img>
  </div>

  <div class="meta">
    <div class="info">
      <ion-text *ngIf="!isLoading" class="name">{{ food.name }}</ion-text>
      <ion-text *ngIf="!isLoading" class="price">${{ food.price }}</ion-text>
      <!-- Skeletons for name and price -->
      <ion-skeleton-text
        *ngIf="isLoading"
        class="name"
        animated
      ></ion-skeleton-text>
      <ion-skeleton-text
        *ngIf="isLoading"
        class="price"
        animated
      ></ion-skeleton-text>
    </div>

    <div class="ctrls" *ngIf="!isLoading">
      <div class="b ion-activatable" (click)="alterQuantity('-')">
        <ion-ripple-effect></ion-ripple-effect>
        -
      </div>
      <div class="b">{{ quantity }}</div>
      <div class="b ion-activatable" (click)="alterQuantity('+')">
        <ion-ripple-effect></ion-ripple-effect>
        +
      </div>
    </div>
    <!-- Skeletons for controls -->
    <div class="ctrls" *ngIf="isLoading">
      <ion-skeleton-text
        *ngFor="let _ of [1, 2, 3]"
        animated
      ></ion-skeleton-text>
    </div>
  </div>

  <div *ngIf="!isLoading" class="desc">
    <span>{{ food.desc }}</span>
  </div>
  <!-- Description Skeleton -->
  <ion-skeleton-text
    *ngIf="isLoading"
    animated
    class="desc"
  ></ion-skeleton-text>

  <div class="list" *ngIf="!isLoading">
    <div
      class="item"
      *ngFor="let c of availableCafes"
      (click)="cafeSelect(c.id)"
      [ngClass]="{selected: isCafeSelected(c.id)}"
    >
      <div class="logo">
        <ion-img
          (ionImgDidLoad)="handleImgLoad($event)"
          src="{{ c.logo }}"
        ></ion-img>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <div class="name">{{ c.name }}</div>
    </div>
    <div class="spice"></div>
  </div>
  <!-- Cafe List Skeleton -->
  <div class="list" *ngIf="isLoading">
    <div class="item" *ngFor="let _ of [1, 2, 3, 4]">
      <div class="logo">
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
      <ion-skeleton-text class="name"></ion-skeleton-text>
    </div>
    <div class="spice"></div>
  </div>

  <ion-button
    class="btn"
    *ngIf="!isLoading"
    [ngClass]="{exists: foodExists()}"
    (click)="addToCart()"
    [disabled]="!safeToCart() || foodExists()"
  >
    {{ foodExists() ? "FOOD IN CART" : "ADD TO CART" }}
  </ion-button>
  <!-- Button Skeleton -->
  <div class="button" *ngIf="isLoading">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
</ion-content>
