<ion-content class="ion-fullscreen">
  <ion-back-button defaultHref="/home"> </ion-back-button>
  <div class="img-box">
    <ion-img src="{{ food.imgAddr }}"></ion-img>
  </div>
  <div class="meta">
    <div class="info">
      <ion-text class="name">{{ food.name }}</ion-text>
      <ion-text class="price">${{ food.price }}</ion-text>
    </div>
    <div class="ctrls">
      <div class="b ion-activatable" (click)="alterQuantity('-')">
        <ion-ripple-effect></ion-ripple-effect>
        -
      </div>
      <div class="b">{{ quantity }}</div>
      <div class="b ion-activatable" (click)="alterQuantity('+')">
        <ion-ripple-effect></ion-ripple-effect>
        +
      </div>
    </div>
  </div>
  <div class="desc">{{ food.desc }}</div>
  <div class="list">
    <div
      class="item"
      *ngFor="let c of availableCafes"
      (click)="cafeSelect(c.id)"
      [ngClass]="{selected: isCafeSelected(c.id)}"
    >
      <div class="logo">
        <ion-img src="{{ c.logo }}"></ion-img>
      </div>
      <div class="name">{{ c.name }}</div>
    </div>

    <div class="spice"></div>
  </div>

  <!-- <div class="btn ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    ADD TO CART
  </div> -->
  <ion-button
    class="btn"
    [ngClass]="{exists: foodExists()}"
    (click)="addToCart()"
    [disabled]="!safeToCart() || foodExists()"
  >
    {{ foodExists() ? "FOOD IN CART" : "ADD TO CART" }}
  </ion-button>
</ion-content>
