<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary"> My Orders </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div class="empty-msg" *ngIf="myorders.length <= 0 && !isLoading">
    Ouch!! You haven't made any orders yet.
  </div>

  <div class="item" *ngFor="let o of myorders" [routerLink]="o.id">
    <div class="main">
      <!-- showing the last 8 characters of the id -->
      <div class="id">Order #{{ o.id.slice(o.id.length - 8) }}</div>
      <div class="date">{{ serializeTime(o.orderedAt) }}</div>
      <div class="amt">Amount: ${{ calcAmt( o.cart) }}</div>
    </div>
    <div class="status">
      <ion-icon color="primary" name="{{ getStatusIcon(o.status) }}"></ion-icon>
    </div>
  </div>
</ion-content>
