ion-header {
  ion-toolbar {
    --background: #f7f7f7;

    ion-menu-button {
      color: #333;
    }

    ion-title {
      font-weight: bold;
      font-size: 25px;
    }
  }
}

ion-content {
  --background: #f7f7f7;
  --padding-start: 30px;
  --padding-top: 15px;

  .motto {
    // background-color: #fff;
    ion-text {
      font-size: 21px;
      &.b {
        font-weight: bold;
      }
    }
  }

  .bar {
    // background-color: #ddd;
    padding-right: 20px;
    ion-searchbar {
      --background: #fff;
      --border-radius: 20px;
      // --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      //   0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      --box-shadow: none;
      --color: var(--ion-color-step-850, #766);
      --icon-color: var(--ion-color-step-600, #766);
    }
  }

  .group,
  .sub-group {
    // background-color: #fff;
    padding: 20px 0 0;

    ion-text {
      font-size: 19px;
      font-weight: bold;
    }

    .list {
      // background-color: #fff;
      height: 100px;
      padding: 8px 0 0;
      display: flex;
      overflow-x: auto;
      // overflow-y: hidden;

      .item {
        outline: none;
        background-color: #fff;
        min-width: 100px;
        height: 70px;
        border-radius: 20px;
        margin: 0 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ion-icon {
          height: 26px;
          width: 26px;
          color: #333;
        }

        ion-text {
          font-size: 14px;
          font-weight: normal;
          margin: 3px 0;
          color: #333;
        }

        &.selected {
          border: 2px solid #77c38280;
          box-shadow: 0 2px 2px 0 #77c38247, 0 3px 1px -2px #77c38266,
            0 1px 5px 0 #77c3823d;

          ion-icon {
            color: #77c382;
          }
          ion-text {
            color: #77c382;
          }
        }
      }

      // makes the end of the horizontal scroll nice
      .spice {
        min-width: 20px;
        height: 70px;
      }
    }
  }

  .sub-group {
    .list {
      height: 250px;

      .item {
        min-width: 180px;
        width: 180px;
        height: 210px;
        overflow: hidden;
        justify-content: start;
        align-items: flex-start;

        .img-box {
          // background-color: #de78de;
          height: 120px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .i {
            background-color: rgb(218, 204, 74);
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
          }
        }

        ion-text {
          // background-color: #33b9a3;
          width: 100%;
          max-height: 40px;
          padding: 5px 15px;
          margin: 0;
          // text-overflow: ellipsis;
          // overflow: hidden;
          font-size: 16px;
        }

        .price {
          width: 100%;
          flex: 1;
          // height: 50px; // max to fit best
          // background-color: rgb(54, 37, 116);
          display: flex;
          justify-content: center;
          align-items: center;

          .p {
            // background-color: rgb(218, 204, 74);
            width: calc(100% - 10px);
            height: calc(100% - 15px);
            padding: 0 10px 10px;
            font-size: 22px;
            font-weight: bold;
            // border-bottom-left-radius: 20px;
            // border-bottom-right-radius: 20px;
          }
        }

        &.selected {
          border: 2px solid #77c38280;
          box-shadow: 0 2px 2px 0 #77c38247, 0 3px 1px -2px #77c38266,
            0 1px 5px 0 #77c3823d;

          ion-text {
            color: #77c382;
          }

          .price {
            color: #77c382;
          }
        }
      }
    }
  }

  ion-fab {
    // margin: 0 40px 40px 0;
    transform: translate(-40px, -40px);

    ion-fab-button {
      position: relative;
      outline: none;

      ion-badge {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(
          calc(50% + 20px),
          50%
        ); // 24 is the width of the icon
      }
    }
  }
}
