<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary"> ZuPick </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="motto">
    <ion-text> Choose the </ion-text> <br />
    <ion-text class="b"> food you love </ion-text>
  </div>
  <div class="bar">
    <ion-searchbar placeholder="Search for a food item"></ion-searchbar>
  </div>
  <div class="group">
    <ion-text>Categories</ion-text>
    <div class="list">
      <div class="item selected">
        <ion-icon name="map"></ion-icon>
        <ion-text>Burgers</ion-text>
      </div>
      <div class="item">
        <ion-icon name="map"></ion-icon>
        <ion-text>Pizza</ion-text>
      </div>
      <div class="item">
        <ion-icon name="map"></ion-icon>
        <ion-text>Sandwichs</ion-text>
      </div>
      <div class="item">
        <ion-icon name="map"></ion-icon>
        <ion-text>Sandwichs</ion-text>
      </div>
      <div class="item">
        <ion-icon name="map"></ion-icon>
        <ion-text>Sandwichs</ion-text>
      </div>

      <div class="spice"></div>
    </div>
  </div>

  <div class="sub-group">
    <ion-text>Burgers</ion-text>
    <div class="list">
      <div class="item" *ngFor="let f of foods" [routerLink]='["item", f.id]'>
        <div class="img-box">
          <div class="i">
            <ion-img src="{{f.imgAddr}}"></ion-img>
          </div>
        </div>
        <ion-text class="name">{{f.name}}</ion-text>
        <div class="price">
          <div class="p">${{f.price}}</div>
        </div>
      </div>
      <div class="spice"></div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="cart" color="primary">
      <ion-icon name="bag"></ion-icon>
      <ion-badge color="danger">{{ cartSize }}</ion-badge>
    </ion-fab-button>
  </ion-fab>
</ion-content>
