<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary"> ZuPick </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="motto">
    <ion-text> Choose the </ion-text> <br />
    <ion-text class="b"> food you love </ion-text>
  </div>
  <div class="bar">
    <ion-searchbar placeholder="Search for a food item"></ion-searchbar>
  </div>
  <div class="group">
    <ion-text class="title">Categories</ion-text>
    <div class="list" *ngIf="categoriesLoading">
      <div class="item" *ngFor="let _ of [1, 2, 3, 4];">
        <ion-thumbnail>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-skeleton-text class="cName" animated></ion-skeleton-text>
      </div>
      <div class="spice"></div>
    </div>

    <div class="list" *ngIf="!categoriesLoading">
      <div
        class="item"
        *ngFor="let c of categories; let i = index;"
        [ngClass]="{selected: c === activeCategory}"
        (click)="changeCategory(i)"
      >
        <ion-icon name="map"></ion-icon>
        <ion-text>{{ c }}</ion-text>
      </div>

      <div class="spice"></div>
    </div>
  </div>

  <div class="sub-group">
    <ion-skeleton-text
      *ngIf="foodsLoading"
      class="title"
      animated
    ></ion-skeleton-text>
    <ion-text *ngIf="!foodsLoading" class="title"
      >{{ activeCategory }}</ion-text
    >
    <div class="list" *ngIf="foodsLoading">
      <div class="item" *ngFor="let _ of [1, 2, 3]">
        <div class="img-box">
          <div class="i">
            <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
          </div>
        </div>
        <ion-skeleton-text class="name" animated></ion-skeleton-text>
        <div class="price">
          <ion-skeleton-text class="p" animated></ion-skeleton-text>
        </div>
      </div>
    </div>

    <div class="list" *ngIf="foods.length > 0 && !foodsLoading">
      <div class="item" *ngFor="let f of foods" [routerLink]='["item", f.id]'>
        <div class="img-box">
          <div class="i">
            <ion-img
              class="invisible"
              (ionImgDidLoad)="handleImgLoad($event)"
              src="{{f.imgAddr}}"
            ></ion-img>
            <ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
          </div>
        </div>
        <ion-text class="name">{{f.name}}</ion-text>
        <div class="price">
          <div class="p">${{f.price}}</div>
        </div>
      </div>
      <div class="spice"></div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="cart" color="primary">
      <ion-icon name="bag"></ion-icon>
      <ion-badge color="danger">{{ cartSize }}</ion-badge>
    </ion-fab-button>
  </ion-fab>
</ion-content>
