ion-header {
  ion-toolbar {
    --background: #f7f7f7;

    ion-menu-button {
      color: #333;
    }

    ion-title {
      font-weight: bold;
      font-size: 24px;
    }
  }
}

ion-content {
  --background: #f7f7f7;
  --padding-start: 30px;
  --padding-top: 15px;

  .motto {
    // background-color: #fff;
    ion-text {
      font-size: 21px;
      &.b {
        font-weight: bold;
      }
    }
  }

  .bar {
    // background-color: #ddd;
    padding-right: 20px;
    ion-searchbar {
      --background: #fff;
      --border-radius: 20px;
      // --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      //   0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      --box-shadow: none;
      --color: var(--ion-color-step-850, #766);
      --icon-color: var(--ion-color-step-600, #766);
    }
  }

  .group,
  .sub-group {
    // background-color: #fff;
    padding: 20px 0 0;

    ion-text.title {
      font-size: 19px;
      font-weight: bold;
    }

    .list {
      // background-color: #fff;
      height: 100px;
      padding: 8px 0 0;
      display: flex;
      overflow-x: auto;
      // overflow-y: hidden;

      // Hide Scrollbar
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      /* Chrome, Safari and Opera */
      ::-webkit-scrollbar {
        display: none;
      }

      .item {
        outline: none;
        background-color: #fff;
        min-width: 100px;
        height: 70px;
        border-radius: 20px;
        margin: 0 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ion-icon {
          height: 26px;
          width: 26px;
          color: #333;
        }

        ion-thumbnail {
          height: 26px;
          width: 32px;
        }

        ion-text {
          font-size: 14px;
          font-weight: normal;
          margin: 3px 0;
          color: #333;

          &:not(.name) {
            max-width: calc(100% - 15px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        ion-skeleton-text.cName {
          height: 16px;
          width: 65px;
          --border-radius: 0;
          margin: 3px 0;
        }

        &.selected {
          border: 2px solid #77c38280;
          box-shadow: 0 2px 2px 0 #77c38247, 0 3px 1px -2px #77c38266,
            0 1px 5px 0 #77c3823d;

          ion-icon {
            color: #77c382;
          }
          ion-text {
            color: #77c382;
          }
        }
      }

      // makes the end of the horizontal scroll nice
      .spice {
        min-width: 10px;
        height: 70px;
      }
    }
  }

  .sub-group {
    ion-skeleton-text.title {
      width: 130px;
      height: 21px;
      margin: 0;
    }

    .searchLoading {
      margin: 30px auto 0;
      width: fit-content;
    }

    .list {
      height: 250px;

      > div.wrapper {
        display: contents;
      }

      h3.empty-msg {
        font-size: 18px;
        text-align: center;
      }

      .item {
        min-width: 180px;
        width: 180px;
        height: 210px;
        overflow: hidden;
        justify-content: start;
        align-items: flex-start;

        .img-box {
          // background-color: #de78de;
          height: 120px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .i {
            // background-color: rgb(218, 204, 74);
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
            position: relative;

            ion-img,
            ion-thumbnail {
              width: 100%;
              height: 100%;
              object-fit: cover;

              &.invisible {
                position: absolute;
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }

        .name {
          // background-color: #33b9a3;
          width: 100%;
          max-height: 40px;
          padding: 5px 15px;
          margin: 0;
          font-size: 16px;
          // Restrict to one line
          // text-overflow: ellipsis;
          // white-space: nowrap;
          // overflow: hidden;
        }
        ion-skeleton-text.name {
          // line-height: 18px;
          height: 19px;
          width: 150px;
          margin: 5px 15px 0;
          --border-radius: 0;
        }

        .price {
          width: 100%;
          flex: 1;
          // height: 50px; // max to fit best
          // background-color: rgb(54, 37, 116);
          display: flex;
          justify-content: center;
          align-items: center;

          .p {
            // background-color: rgb(218, 204, 74);
            width: calc(100% - 10px);
            height: calc(100% - 15px);
            padding: 0 10px 10px;
            font-size: 22px;
            font-weight: bold;
            // border-bottom-left-radius: 20px;
            // border-bottom-right-radius: 20px;
          }

          ion-skeleton-text.p {
            margin: 0 auto 10px 15px;

            width: 50px;
            height: 35px;
          }
        }

        &.selected {
          border: 2px solid #77c38280;
          box-shadow: 0 2px 2px 0 #77c38247, 0 3px 1px -2px #77c38266,
            0 1px 5px 0 #77c3823d;

          ion-text {
            color: #77c382;
          }

          .price {
            color: #77c382;
          }
        }
      }
    }
  }

  ion-fab {
    // margin: 0 40px 40px 0;
    transform: translate(-40px, -40px);

    ion-fab-button {
      position: relative;
      outline: none;

      ion-badge {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(
          calc(50% + 20px),
          50%
        ); // 24 is the width of the icon
      }
    }
  }
}

@media (max-height: 700px) and (max-width: 1024px) {
  ion-content {
    --padding-start: 17px;
    --padding-top: 0;

    .motto {
      ion-text {
        font-size: 19px;
      }
    }

    .bar {
      padding: 5px 10px 0 0;

      ion-searchbar {
        max-height: 38px;
        overflow: hidden;
      }
    }

    .group,
    .sub-group {
      padding: 8px 0 0;

      ion-text.title {
        font-size: 18px;
      }

      .list {
        height: 90px;
        padding: 5px 0 0;

        .item {
          min-width: 90px;
          height: 65px;
          border-radius: 20px;
          margin: 0 7px;

          ion-icon {
            height: 23px;
            width: 23px;
          }

          ion-thumbnail {
            height: 23px;
            width: 29px;
          }

          ion-text {
            font-size: 13px;
          }

          ion-skeleton-text.cName {
            width: 55px;
          }

          &.selected {
            border: 1px solid #77c38280;
          }
        }
      }
    }

    .sub-group {
      padding: 5px 0 0;

      ion-skeleton-text.title {
        width: 120px;
      }

      .list {
        height: 230px;

        .item {
          min-width: 160px;
          width: 160px;
          height: 190px;

          .img-box {
            height: 105px;
          }

          .name {
            max-height: 30px;
            padding: 5px 15px;
          }

          ion-skeleton-text.name {
            height: 19px;
            width: 130px;
          }

          .price {
            width: 100%;

            .p {
              font-size: 20px;
            }

            ion-skeleton-text.p {
              height: 28px;
            }
          }

          &.selected {
            border: 1px solid #77c38280;
          }
        }
      }
    }

    ion-fab {
      transform: translate(-30px, -30px);
    }
  }
}

@media (max-height: 580px) {
  ion-content {
    ion-fab {
      transform: translate(-15px, -5px);
    }
  }
}
